<mat-tab-group class="padding_tab">
    <mat-tab label="Proximas"> 
        <mat-progress-bar *ngIf="!next" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="next" fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let item of liveNext" style="margin: 1%;">
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70"  fxLayoutAlign="start center">{{item.liveName}}</span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date"  fxFlex="20"  fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{item.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70"  fxLayoutAlign="start center">{{item.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>
                    <mat-card-content fxLayoutAlign="center center">
                       <iframe width="560" height="315" [src]="item.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Realizadas"> 
        <mat-progress-bar *ngIf="!next" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="previous" fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let item of livePrevious" style="margin: 1%;">
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70"  fxLayoutAlign="start center">{{item.liveName}}</span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date"  fxFlex="20"  fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{item.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70"  fxLayoutAlign="start center">{{item.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>
                    <mat-card-content fxLayoutAlign="center center">
                        <iframe width="560" height="315" [src]="item.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>
